<!doctype html>
<html>
    <head>
        <meta charset = 'UTF-8'>
        <title>Image search</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Image search Engine</h1>
        <div class = 'form'>
            <form id="query-form">
                 <input id='image-query'type="text" autofocus autocomplete='off' placeholder = 'image'name = 'query'>
        <button class ='btn-search'>Submit</button>
    </form>
       
        </div>
        <div class = 'results hidden'>
            <h2>Results</h2>
            <div id='json-results'></div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/app.js"></script>
</html>